HEADER
class hero
includes h1 h2 and button

hero

hero container (image)

hero h2

button

container was repeated in every section of the page




* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     color: #000;
     line-height: 1.4;
     background-size:cover;
     font-size:12px;
     margin: 0 auto;
}

header {
  font-weight:800;
  font-size:24px;
  color: white;
}

#wrapper {
    width: 960px;
  	margin: 0 auto;
}

.hero {
  background-color: #141E27;
  margin: 0 auto;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding:0 50px;
}

.hero .container {
  background: url(../images/header_bg.jpg) no-repeat center center rgb(134,141,157);
  background-size: cover;
  height: 400px;
  padding-top: 20px;
}

.hero h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: 80px 0 50px 0;
}

.button {
  border-radius:5px;
  text-decoration: none;
  font-size: 14px;
  font-weight:800;
  padding: 7px 25px 7px 25px;
  display: block;
  text-align: center;
  margin: 0 200px;
  text-align: center;
/*Struggled with making the CTA button horizontally centered.. Any tips?*/
}

.hero .button {
  color:black;
  background-color: #f9e42e;
}

.benefits {
  background-color: #ffffff;
  padding: 40px 0 30px 0;
}

.benefits h3 {
  color: #033048;
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 20px 0;
}

.benefits p {
  padding: 0 0 10px 0;
}

.quote {
  background-color: #141E27;
}

.quote .container {
  background: url(../images/testimonial_bg.jpg) no-repeat center center rgb(134,141,157);
  background-size: cover;
  padding: 30px 0;
}

.quote h3 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin: 0 60px;
}

.name {
  font-weight: 800;
  /* Can't figure out how to get this to be bold and not italicized */
}

.final-cta {
  background-color: #f9e42e;
  padding: 20px 0;
}

.final-cta .button {
  color:white;
  background-color: #141E27;
  margin: 0 200px;
}

footer {
  background-color: #121212;
  padding: 30px 0;
}

footer h1 {
  color: #f9e42e;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  padding: 0 0 20px 0;
}

.social-icons li {
  display: inline;
  padding: 0 7px;
  margin: 0 auto;
  /* Again, can't figure out how to center these images. */
}

.social-icons img {
  width: 15px;
  height: 15px;
}

p {
  color: #606161;
  font-size: 13px;
  font-weight: 300;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 40px;
  color: #606161;
  font-size: 13px;
  font-weight: 300;
}
